<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.board.model.dao.BoardDao">
	
    <insert id="writeArticle" parameterType="BoardDto">
        insert into board(userId, subject, content, location, startDate, endDate, mainImg, hit) 
        values(#{userId}, #{subject}, #{content}, #{location}, #{startDate}, #{endDate}, #{mainImg}, #{hit})
    </insert>
    
    <select id="getArticle" parameterType="int" resultType="BoardDto">
    	select *
    	from board
    	where articleNo = #{articleNo}

    </select>
    
    <select id="listArticle" parameterType="hashMap" resultType="BoardDto">
    	select *
    	from board
        <choose>
            <when test='"article_no".equals(key)'>
                where articleNo = #{word}
            </when>
            <when test='"subject".equals(key)'>
                where subject like concat('%',#{word},'%')
            </when>
            <when test='"user_id".equals(key)'>
                where userId = #{word}
            </when>
            <otherwise></otherwise>
        </choose>
    	order by articleNo
    </select>
    
    <select id="listMyArticle" parameterType="String"  resultType="BoardDto">
    	select *
    	from board
    	where userId = #{userId}
    	order by articleNo
    </select>
    
    <update id="modifyArticle" parameterType="BoardDto">
    	update board set subject=#{subject}, content=#{content}, registerTime=now()
    	where articleNo=#{articleNo}
    </update>
    
    <delete id="deleteArticle" parameterType="int">
    	delete from board
    	where articleNo=#{articleNo}
    </delete>
    
    <update id="updateHit" parameterType="int">
    	update board set hit=hit+1 where articleNo=#{articleNo}
    </update>
</mapper>