<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.plan.model.dao.PlanTimeDetailDao">
	<insert id="insertPlanTime" parameterType="PlanTimeDetailDto">
		insert into plantime(dateNo, location)
		values(#{dateNo}, #{location})
	</insert>

	<select id="getTimeList" parameterType="int" resultType="PlanTimeDetailDto">
		select timeNo, dateNo, location, timeMemo from plantime
		where dateNo = #{dateNo}
	</select>


</mapper>
