<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.recommend.model.dao.SpringDao">
    
    <select id="listSpringPlace" resultType="SpringDto">
    	select *
    	from spring
    	order by springNo
    </select>
    
    <select id="getSpringPlace" parameterType="int" resultType="SpringDto">
    	select *
    	from spring
    	where springNo = #{springNo}
    </select>
</mapper>