<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.recommend.model.dao.SummerDao">
    
    <select id="listSummerPlace" resultType="SummerDto">
    	select *
    	from summer
    	order by summerNo
    </select>
    
    <select id="getSummerPlace" parameterType="int" resultType="SummerDto">
    	select *
    	from summer
    	where summerNo = #{summerNo}
    </select>
</mapper>